# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# coverage
coverage.txt

# neovim go rplugin
bin/*
src/nvim-go/testdata/gb/gsftp/bin/*
pkg/*

# workaround for github.com/pkg
!src/nvim-go/command/testdata/gb/gsftp/vendor/src/github.com/pkg/

# manifest write script
plugin/manifest

# habit
_*
# temporarily ignore for development
syntax/go.vim
indent/go.vim
